/*==============================================
Global Config
==============================================*/

// Color palette
$brandy:          #E0C69E;
$porsche:         #ec9a5d;
$zorba:           #A89C91;
$sandstron:       #797068;
$bronze:          #4E311C;
$palliser:        #957546;
$background-grey: #f5f5f5;