/*==============================================
Featured PROJECTS
==============================================*/

// Featured project card
.featured-project {
  margin: 15px 0;

  .card-img-top {
    height: 215px;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .featured-project {
    .card-img-top {
      height: 300px;
    }
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}